@model IEnumerable<CapStone_AndreaGuarnieri.Models.ViewModels.SearchResultViewModel>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Codice Fiscale</th>
                <th>Data Inizio Prenotazione</th>
                <th>Data Fine Prenotazione</th>
                <th>Azioni</th> <!-- Aggiunta colonna per il pulsante Dettagli -->
            </tr>
        </thead>
        <tbody>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.Cognome</td>
                    <td>@prenotazione.Nome</td>
                    <td>@prenotazione.CodiceFiscale</td>
                    <td>@prenotazione.DataInizio.ToString("dd/MM/yyyy")</td>
                    <td>@prenotazione.DataFine.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/Prenotazione/Dettagli/@prenotazione.NumeroProgressivo" class="btn btn-primary">
                            Dettagli
                        </a>
                    </td> <!-- Pulsante per visualizzare i dettagli -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessuna prenotazione trovata per il cliente.</p>
}
